<section class="section about">
  <h2 class="section-title">About Me</h2>
  <p>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    I'm a passionate software developer with experience in backend, web and mobile application development.
    Currently working at Resonate as mobile developer, I have a strong foundation in various programming languages and frameworks related to mobile development.
    Versatile in my skill set, I have a keen interest in exploring new technologies and continuously improving my craft.
    I thrive in collaborative environments and enjoy tackling complex challenges to deliver high-quality software solutions.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Committed to lifelong learning and actively seeking opportunities to expand my knowledge and stay updated with industry trends,
    I currently attend the University of Electrical Engineering, Computer sciences and Informatics in Maribor, Slovenia where
    I am pursuing a Masters's degree in Informatics and Data Technologies.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Out of all the technologies I have worked with, I am particularly fond of Angular for web development and React Native
    for mobile applications both of which I greatly appreciate for their flexibility, structure, performance, and the vibrant ecosystems that surround them.
    <br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    In my free time, I enjoy contributing to open-source projects and engaging with the developer community around projects related to HAM radio and IoT.
    I am always eager to connect with like-minded individuals and explore new opportunities in the tech industry.
    Feel free to reach out to me if you share similar interests or have exciting projects in mind!
  </p>
</section>
